<!DOCTYPE html>
<html>
<head>
  <title>Pastebin</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Pastebin Microservice</a></h1>
    <% if (session.username) { %>
      <p>Hello, <%= session.username %> | <a href="/logout">Logout</a></p>
    <% } %>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
