# IDE / Editor Config
.idea/
.vscode/
*.swp
*.swo

# Environment Files
.env
.env.local
.env.*.local

# Dependency Folders
node_modules/

# Build Output
dist/
build/
target/

# Docker Files - Local Overrides
docker-compose.override.yml

# Debug - Log Files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# System Files
.DS_Store
Thumbs.db
ehthumbs.db